- name: common
  hosts: centos, fedora
  tasks:
  - name: install packages
    shell: |
      dnf -y install curl git tar vim wget
      dnf -y remove rootfiles

- name: common
  hosts: debian, ubuntu
  tasks:
  - name: install packages
    shell: |
      apt-get -y install curl git tar vim wget
